!!! 5
html
  head
    title Brandon's Page
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.css')
    link(rel='stylesheet', href='stylesheets/index.css')
    script(src='http://code.jquery.com/jquery-1.8.2.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js')
    script(src='http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.js')
    script(src='javascripts/index.js')
  body
    div(data-role='page')
      div(data-role='header')
        h1 Brandon's Warmup App
      div(data-role='content')
        center
          #loginPage.box
            #messageBox.message
            form
              div(data-role='fieldcontain')
                label(for='username') Username: 
                input#loginUsername(type='text', name='username', value='', placeholder='Username', data-mini='true')
              div(data-role='fieldcontain')
                label(for='pwd') Password: 
                input#loginPassword(type='text', name='pwd', value='', placeholder='Password', data-mini='true')
              div(data-role='controlgroup', data-type='horizontal')
                input#loginButton(type='submit', value='Login', data-role='button', data-icon='home', data-theme='a')
                input#addUserButton(type='submit', value='Add User', data-role='button', data-icon='plus', data-theme='a')
      center
        #welcomePage.box
          #welcomeMessage.message
          form
            input#logoutButton(type='submit', value='Logout', data-role='button', data-icon='back', data-inline='true', data-theme='a')

